form{
    /* width:300px;
    overflow:hidden;
    
    transition:0.3s;
    animation:ease-in; */
    /* width: 300px; */
    margin: 0 auto; 
    padding-top: 100px;
}
 .table1{
    left:100px;
    margin-top: -10%;
   padding-left: 30%;
 } 
 h2 {

    text-align: center;
    
    } 
.container {
    text-align: center;
    

}